.bg-white{background: #ffffff;}
.bg-orange{background: #f77727;}
.col-white{color: #ffffff;}
.col-orange{color: #f77727;}
.bdbox{box-sizing: border-box;}
.txt-ovf{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.tdn{text-decoration: none;}
.db{display: block;}
.dinb{display: inline-block;}
.dn{display: none;}
.prel{position: relative;}
.pabs{position: absolute;}
.pfix{position: fixed;}
.tl{text-align: left;}
.tr{text-align:right;}
.tc{text-align: center;}
.cd{cursor: default;}
.cp{cursor: pointer;}
